@import 'kit/variables';

$panelBg: $white;
$panelTextColor: $black;


$hoverItemBg: $darkGray;
$hoverItemTextColor: $lightGray;

$selectedItemBg: $white;
$selectedItemTextColor: $white;


$minPanelWidth: $szSmall + 3px + 6px;
$maxPanelWidht: 200px;

.space-panel {
    //background: $panelBg;
    color: $panelTextColor;

    padding: 10px 6px 5px 0px;
    max-width: $maxPanelWidht;
    min-width: $minPanelWidth;
    overflow: hidden;
    box-sizing: border-box;

    width: $minPanelWidth;

    transition: $transition;
    
    &.expanded {
        width: $maxPanelWidht;

        .space-item:hover {
            color: rgb(173, 173, 173);
        }
    }

    .separate-border {
        border-bottom: solid 1px $gray;
        margin-bottom: 9px;
    }

    .space-item {
        transition: $transition;
        cursor: pointer;

        &.selected {
            //background: $selectedItemBg;
            //color: $selectedItemTextColor;
        }
    }
}