@import '../common';

.btn {
    font-size: 1em;
    border: none;
    outline: none;
    padding: 8px 16px;
    cursor: pointer;
    border-radius: 3px;
    transition: $transition;
    font-weight: 300;

    &.green {
        color: $white;
        background-color: $green;

        &:hover {
            background-color: $darkGreen;
        }
    }
    
    &.red {
        color: $white;
        background-color: $red;

        &:hover {
            background-color: $darkRed;
        }
    }

    &.cian {
        color: $white;
        background-color: $cian;

        &:hover {
            background-color: $darkCian;
        }
    }
}