@import '../../common';

.typo_demo {
    padding: 20px;
    border: solid $lightGray 1px;
    box-shadow: 0 0 1px $lightGray;
    box-sizing: border-box;
    margin-bottom: 10px;
}

.input_demo {
    padding: 10px 0;

    label {
        margin-right: 2em;
    }
}