@import 'kit/variables';

.title_cell {
    display: flex;
    flex-flow: row nowrap;
    padding: 6px 10px;

    .expand_icon_placeholder {
        width: 1em;
        height: 1em;
        margin-right: 5px;
    }

    .collapse_expand_icon {
        flex-shrink: 0;
        margin-right: 5px;
        cursor: pointer;
    }

    .title_text {
        user-select: none;
        cursor: pointer;
    }
}