@import 'kit/variables';

$borderW: 3px;
.space-item {
    display: flex;
    flex-flow: row nowrap;
    margin-bottom: 8px;
    border-left: solid transparent $borderW;
    padding-left: $borderW;
    box-sizing: border-box;

    .space-logo {
        min-width: $szSmall + $borderW;
    }
    
    .space-name {
        flex-grow: 1;
        padding: 5px;
        transition: $transition;
        
        &.hidden {
            opacity: 0;
        }
    }

    &:hover {
        .avatar-image img {
            border-radius: 20%;
        }
    }

    &.selected {
        border-left: solid #359ee4 3px;

        .avatar-image img {
            border-radius: 20%;
        }
    }
}
