@import 'kit/variables';

.grid {
    display: flex;
    flex-flow: column nowrap;
    height: 100%;
    overflow: auto;

    .header-wrapper {
        flex-shrink: 0;
        border-top: 1px solid rgba(0,0,0,0.08);
        border-bottom: 1px solid rgba(0,0,0,0.08);
        position: sticky;
        top: 0;
        background: white;

        thead {
            th {
                box-sizing: border-box;
                border-right: 1px solid rgba(0,0,0,0.08);
                padding: 10px;
            }

            th:first-child {
                border-left: 1px solid rgba(0,0,0,0.08);
            }

            th:last-child {
                border-right: 1px solid rgba(0,0,0,0.08);
            }
        }
    }

    .content-wrapper {
        flex-grow: 1;
    }

    table {
        width: 100%;
        border-collapse: collapse; 
        table-layout: fixed;

        tr {
            td {
                box-sizing: border-box;
                border-bottom: 1px solid rgba(0,0,0,0.08);
                border-right: 1px solid rgba(0,0,0,0.08);
                padding: 6px 10px;
            }

            td:first-child {
                border-left: 1px solid rgba(0,0,0,0.08);
            }

            td:last-child {
                border-right: 1px solid rgba(0,0,0,0.08);
            }

            &:hover {
                background: $lightGray !important;
            }
        }

        &.content {
            tr:nth-child(2n+1) {
                background: #fbfbfb;
            }
        }
    }
}