@import 'kit/variables';

.grid {
    display: flex;
    flex-flow: column nowrap;
    height: 100%;
    overflow: auto;
    position: relative;

    &::-webkit-scrollbar-track {
        border-radius: 10px;
        background-color: #F5F5F5;
    }
    &::-webkit-scrollbar {
        width: 6px;
        height: 6px;
        background-color: #F5F5F5;
    }
    &::-webkit-scrollbar-thumb{
        border-radius: 10px;
        background-color: rgba(85, 85, 85, 0.356);
    }

    .header-wrapper {
        flex-shrink: 0;
        border-top: 1px solid rgba(0,0,0,0.08);
        border-bottom: 1px solid rgba(0,0,0,0.08);
        position: sticky;
        top: 0;
        background: white;
        user-select: none;
        z-index: 10;

        thead {
            th {
                box-sizing: border-box;
                border-right: 1px solid rgba(0,0,0,0.08);
                padding: 10px;

                &:hover {
                    background: $lightGray !important;
                }
            }

            th:first-child {
                border-left: 1px solid rgba(0,0,0,0.08);
            }

            th:last-child {
                border-right: 1px solid rgba(0,0,0,0.08);
            }
        }
    }

    .content-wrapper {
        flex-grow: 1;

        table tr:hover {
            background: $lightGray !important;
        }
    }

    table {
        //width: 100%;
        border-collapse: collapse; 
        table-layout: fixed;

        tr {
            td {
                box-sizing: border-box;
                border-bottom: 1px solid rgba(0,0,0,0.08);
                border-right: 1px solid rgba(0,0,0,0.08);
                padding: 6px 10px;
                overflow: hidden;
                text-overflow: ellipsis;   
                white-space: nowrap
            }

            td:first-child {
                border-left: 1px solid rgba(0,0,0,0.08);
            }

            td:last-child {
                border-right: 1px solid rgba(0,0,0,0.08);
            }
        }

        &.content {
            td {
                padding: 0;
                height: 25px;
            }
            
            tr:nth-child(2n+1) {
                background: #fbfbfb;
            }
        }
    }


    .header-dnd-ghost {
        position: absolute;
        background: $blue;
        height: 100%;
        opacity: 0.1;
        border: solid $blue 1px;
        box-sizing: border-box;

        .ghost-placeholder {
            width: 100%;
        }
    }
}