@import url('https://fonts.googleapis.com/css?family=Raleway');
@import './variables';

html {
    height: 100%;
    font-family: -apple-system, BlinkMacSystemFont, "Raleway", "apercu", sans-serif;
    padding: 0;
    font-size: 14px;
    color: $black;
}

body {
    height: 100%;
    margin: 0;
    background: linear-gradient(to right, #fafafa, #f4f7f6);
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 200;
}

a {
    color: $cian;
    text-decoration: none;
    transition: $transition;

    &:visited {
        color: $darkCian;
    }

    &:hover {
        color: $black;
    }
}

input {
    outline: none;
    border: none;
    border-bottom: solid $gray 1px;
    background: transparent;
    transition: $transition;
    font-size: 1.1em;

    &:focus {
        border-bottom: solid $cian 1px;
    }

    &::placeholder {
        font-size: 0.9em;
        color: $gray;
    }
}


#root {
    height: 100%;
}