$green: green;
$darkGreen: rgb(7, 63, 7);

$cian: #49c5b6;
$darkCian: #42AB9E;

$red: red;
$darkRed: rgb(128, 4, 4);

$lightGray: #f1f1f1;
$gray: #748088;
$black: #202121;

$blue: #50ABC6;

$white: #fff;

$transition: all 0.3s ease-in-out;