$green: green;
$darkGreen: #073f07;

$cian: #49c5b6;
$darkCian: #42AB9E;

$red: red;
$darkRed: #800404;

$lightGray: #f1f1f1;
$gray: #748088;
$darkGray: #353b45;
$black: #282c34;

$blue: #50ABC6;

$white: #fff;

$transition: all 0.3s ease-in-out;


$szSmall: 32px;
$szMedium: 60px;
$szLarge: 80px;