$green: green;
$darkGreen: #073f07;

$cian: #49c5b6;
$darkCian: #42AB9E;

$red: red;
$darkRed: #800404;


// Most usable:
$lightGray: #f8f8f8;
$blue: #359ee4;
$white: #fff;

$lightGrayDarker: #f2f2f2;



$gray: #748088;
$darkGray: #353b45;
$black: #282c34;









$transition: all 0.1s ease-in-out;


$szSmall: 32px;
$szMedium: 60px;
$szLarge: 80px;