@import 'kit/variables';

.text_editor {
    display: flex;
    flex-flow: column nowrap;
    min-height: 200px;

    .text_editor_toolbar {
        display: block;
        position: sticky;
        top: 3px;
    }

    .editable {
        flex-grow: 1;
        outline: none;

        &[placeholder]:empty::before {
            content: attr(placeholder);
            color: $gray; 
        }
        
        &[placeholder]:empty:focus::before {
            content: "";
        }
    }    
}