@import 'kit/variables';

.status_cell {
    display: flex;
    flex-flow: row nowrap;


    .dropdown-container {
        position: relative;

        .dropdown {
            position: absolute;
            background: white;
            box-shadow: 0 0 5px black;
        }
    }
}