@import 'kit/variables';

.space {
    display: flex;
    height: 100%;
    background: $lightGray;
    flex-flow: row nowrap;
    align-items: stretch;

    .column {
        flex-grow: 1;
        height: 100%;
    }
    
    .main-panel-container {
        padding: 7px;
        box-sizing: border-box;
    }

    .side-panel {
        height: 100%;
    }

    .space-view {
        display: flex;
        flex-flow: column nowrap;
        height: 100%;
        background: $white;
        box-shadow: 0px 0px 3px 0px $gray;

        .space-view-header {
            flex-shrink: 0;
            display: flex;
            flex-flow: row nowrap;
            justify-content: space-between;

            padding: 5px 10px;
            border-bottom: solid 1px $lightGray;

            &.scroll-shadow {
                box-shadow: 0 8px 10px -6px #c1c5c7;
            }

            // .left {
            // }

            // .rigth {
            // }

            h2.title {
                display: inline-block;
                margin: 0;
            }
        }

        .space-view-scroll-wrapper {
            overflow-y: scroll;
            //flex: 1 1 auto;
        }
        .space-view-body {
            
            padding: 10px;
        }
    }
}