@import 'kit/variables';

.space {
    display: flex;
    height: 100%;
    
    background: $blue;
    
    flex-flow: row nowrap;
    align-items: stretch;


    .column {
        flex-grow: 1;
    }

    .space-panel {
        height: 100%;
    }
}