@import 'kit/variables';

.space {
    display: flex;
    height: 100%;
    width: 100%;
    background: $lightGray;
    flex-flow: row nowrap;
    align-items: stretch;

    .column {
        flex-grow: 1;
        height: 100%;
    }
    
    .main-panel-container {
        padding: 7px;
        box-sizing: border-box;
    }

    .side-panel {
        height: 100%;
    }
}