@import 'kit/variables';

$panelBg: $black;
$panelTextColor: $lightGray;

$hoverItemBg: $darkGray;
$hoverItemTextColor: $lightGray;

$selectedItemBg: $white;
$selectedItemTextColor: $white;

$minPanelWidth: 66px;
$maxPanelWidht: 200px;

.space-panel {
    background: $panelBg;
    color: $panelTextColor;

    padding: 5px;
    max-width: $maxPanelWidht;
    min-width: $minPanelWidth;
    overflow: hidden;

    width: $minPanelWidth;

    transition: $transition;
    
    &.expanded {
        width: $maxPanelWidht;

        .space-item:hover {
            background: $hoverItemBg;
            color: $hoverItemTextColor;
        }
    }

    .space-item {
        transition: $transition;
        cursor: pointer;

        &.selected {
            //background: $selectedItemBg;
            color: $selectedItemTextColor;
        }
    }
}