@import 'kit/variables';

.space-item {
    display: flex;
    flex-flow: row nowrap;
    margin-bottom: 8px;
    border-left: solid transparent 3px;
    padding-left: 3px;
    box-sizing: border-box;

    .space-logo {
        min-width: 60px;
    }
    
    .space-name {
        flex-grow: 1;
        padding: 5px;
    }

    &:hover {
        .avatar-image img {
            border-radius: 20%;
        }
    }

    &.selected {
        border-left: solid $lightGray 3px;

        .avatar-image img {
            border-radius: 20%;
        }
    }
}
