@import 'kit/variables';

.collapsible_panel {
    .panel_header {
        display: flex;
        flex-flow: row nowrap;
        cursor: pointer;
        user-select: none;

        .collapse_expand_icon {
            flex-shrink: 0;
            margin-right: 5px;
        }

        .header_separator {
            flex-grow: 1;
        }
    }

    .content {
        position: relative;
        overflow: hidden;
        transition: $transition;
        max-height: 500px;   
    }

    &.collapsed {
        .content {
            max-height: 0;
        }
    }
}