@import 'kit/variables';

.space-view {
    display: flex;
    flex-flow: column nowrap;
    height: 100%;
    background: $white;
    box-shadow: 0px 0px 3px 0px $gray;

    
    .scroll-shadow {
        box-shadow: 0 8px 10px -6px $lightGrayDarker;
    }

    .space-view-scroll-wrapper {
        overflow-y: scroll;
    }

    .space-view-body {
        padding: 8px 20px;

        .main-content {
            display: flex;
            flex-flow: row nowrap;
            min-height: 400px;

            .space-description {
                flex-grow: 1;
            }

            .space-actions {
                flex-shrink: 0;
            }
        }
    }
}