@import 'kit/variables';


.space-view {
    display: flex;
    flex-flow: column nowrap;
    height: 100%;
    background: $white;
    box-shadow: 0px 0px 3px 0px $gray;

    .space-view-header {
        flex-shrink: 0;
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;

        padding: 8px 20px;
        border-bottom: solid 1px $lightGray;

        &.scroll-shadow {
            box-shadow: 0 8px 10px -6px #c1c5c7;
        }

        h2.title {
            display: inline-block;
            font-size: xx-large;
            margin: 0;
        }
    }

    .space-view-scroll-wrapper {
        overflow-y: scroll;
    }

    .space-view-body {
        padding: 8px 20px;

        .main-content {
            display: flex;
            flex-flow: row nowrap;
            min-height: 400px;

            .space-description {
                flex-grow: 1;
            }

            .space-actions {
                flex-shrink: 0;
            }
        }
    }
}